USE [master]
GO
/****** Object:  Database [person]    Script Date: 13/05/2023 3:52:05 pm ******/
CREATE DATABASE [person]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'person', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\person.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'person_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\person_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [person].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [person]
GO
/****** Object:  Table [dbo].[heroes]    Script Date: 13/05/2023 3:52:06 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[heroes](
	[hero_id] [int] NULL,
	[heroName] [varchar](30) NULL,
	[heroPower] [varchar](30) NULL,
	[heroElements] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loggs]    Script Date: 13/05/2023 3:52:06 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loggs](
	[account_id] [int] IDENTITY(101,1) NOT NULL,
	[userName] [varchar](30) NULL,
	[password01] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_tbl]    Script Date: 13/05/2023 3:52:06 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_tbl](
	[productCode] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[color] [varchar](50) NOT NULL,
	[location] [varchar](50) NOT NULL,
 CONSTRAINT [PK_product_tbl] PRIMARY KEY CLUSTERED 
(
	[productCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
